@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 26% 91%;
    --foreground: 180 6% 3%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 180 6% 3%;
    --primary-foreground: 45 26% 91%;

    --secondary: 47 15% 75%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 122 17% 57%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* #eeebe2: hsla(45, 26%, 91%, 1)  */
/* bg color, v light green */

/* #080909: hsla(180, 6%, 3%, 1) */
/* main color, black, text */

/* #7fa480: hsla(122, 17%, 57%, 1) */
/* green */

/* c9c5b6: hsl(47, 15%, 75%) */
/* dark olive */

/* #99947f: hsla(48, 11%, 55%, 1) */
/* beige */

/* #d3cfc1: hsla(47, 17%, 79%, 1) */
/* light beige */

/* #c87e74: hsla(7, 43%, 62%, 1) */
/* light red */

/* #a56961: hsla(7, 27%, 51%, 1) */
/* red that's a bit darker */

/* @layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 180 6% 3%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }
} */
